# This is a comment

# Each line is a file pattern followed by one or more owners

# Order is important; the last matching pattern takes the most
# precedence

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository

# These owners will be the default owners for everything in 
# the Windows Serverrepo. Unless a later match takes precedence

# * @robinharwood @Xelu86

# Doc location

/WindowsServerDocs/security/tls/ @robinharwood @Xelu86

# Configuration

*.json @MicrosoftDocs/windowsserverdocs-admin
*.yml @MicrosoftDocs/windowsserverdocs-admin
.acrolinx-config.edn @MicrosoftDocs/windowsserverdocs-admin
.openpublishing.build.ps1 @MicrosoftDocs/windowsserverdocs-admin
.openpublishing.publish.config.json @MicrosoftDocs/windowsserverdocs-admin
.openpublishing.redirection.json @MicrosoftDocs/windowsserverdocs-admin
